@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Fredoka One", cursive;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
}
#calculatorBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding: 4px;
  border-radius: 4%;
  height: 400px;
  flex: 1;
  background-image: linear-gradient(rgb(241, 137, 1), #d627a4);
  box-shadow: 1px 2px 4px purple;
}

#display {
  margin: 4px;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 240px;
  height: 50px;
  border: 2px rgb(0, 0, 0);
  border-radius: 3%;
  border-color: #d627a4;
  box-shadow: 1px 2px 4px blue;
}

#inner {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-family: "Fredoka One", cursive;
  font-size: larger;

  border-radius: 50%;
  width: 70px;
  height: 40px;
  margin: 5px;
  border-color: #d627a4;
  box-shadow: 1px 2px 4px blue;
}

footer {
  padding: 2.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
